header#header
  div.header-inner
    ul.list-inline.flex-space-between.flex-vertical-centered
      li.logo
        | S&P/ASX
      li
        ul.list-inline
          li.tab-top
            | Top Gainer
          li.tab-top
            | Top Losers
